body {
  background-color: lightskyblue;
}

h1, h2, h3 {
  text-decoration: underline;
}

.pagetext {
  padding-left: 15px;
}

img {
  /* box-shadow: 4px 4px 7px grey; */
  float: right;
  background-color: whitesmoke;
  padding: 15px;
  border-style: double;
  margin: 10px;
}

figcaption {
  clear: both;
  float: right;
  padding-right: 15px;
}

.myName {
  color: whitesmoke;
}

.lists {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}